body{
    margin: 0;
    font-family: roboto;
}


#navigation{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1F2937;
}

.nav-list ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
}

header{
    background-color: #1F2937;
    color: white;
   padding: 20px;
}

.hero{
    display: flex;
    margin-top: 50px;
    /* padding: 20px 20px 100px  20px;  */
    justify-content: center;
    align-items: center;
    
}

.hero-text{
    width: 300px;
  

}
.hero-text h1{
    font-size: 48px;
    color: #f9fAf8;
}

.hero-text p{
    font-size: 16px;
    color: #e5e7eb;
}

.hero-img{
background-color: #9c9c9c;
width: 500px;
height: 100px;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;
margin-left: 50px;
}

.hero button{
    background-color: #3883f6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}


#promo{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 550px;
}

#promo p{
    color: #1F2937;
    text-align: justify;
    }

.item1, .item2, .item3 ,.item4{
    width: 100px;
    height: 100px;
    border: 2px solid #3883f6;
    background-color: white;
    border-radius: 10px;
}

.items{
    display: flex;
    align-items: center;
    padding: 50px;
    justify-content: center;
    gap: 20px;
    
}

main h2{
    margin-left: 40%;
    padding-top: 50px;
}

/* .item1{
    display: flex;
    flex-direction: column;
} */