body{
    margin: 0;
    font-family: roboto;
}


#navigation{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1F2937;
}

.nav-list ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
}

header{
    background-color: #1F2937;
    color: white;
}

.hero{
    display: flex;
    margin-top: 50px;
    padding: 20px 20px 100px  20px; 
    justify-content: center;
    align-items: center;
    
}
.hero-text h1{
    font-size: 48px;
    color: #f9fAf8;
}

.hero-text p{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-img{
background-color: #9c9c9c;
width: 600px;
height: 100px;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;
margin-left: 20px;
}

.hero button{
    background-color: #3883f6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}
